*{
    margin:0;
    padding:0;
}
body{
    background-color: #Fff;
    width: 100vw; 
    height: 100vh; 
    min-width: 1000px; 
    min-height: 1000px;
    overflow-x: hidden;
}

#IndexBody{
    /*height:100vh;
    width:100vw;*/
    width: 100vw; 
    height: 100vh; 
    min-width: 1000px; 
    min-height: 1000px;
    background-image: url("https://i.imgur.com/a6ugJBK.gif?noredirect");
    background-size:cover;
}

#Header{
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    width:auto;
    max-width:100%;
    min-width: 50%;
    height:auto;
    background-color:rgb(0,53,128);
    min-height:10%;
    max-height:20%;
    color:white;
    font-size:2em;

    text-align: center;
    text-shadow: 5px 5px rgb(1, 25, 59);
}

#Logo{
    float:left;
    width:20%;
    height:65%;
}

#Clock{
    font-size:125%;
    width:20%;
    margin:1%;
    text-align: center;
    border:2px solid rgb(0,53,128);
    border-radius: 2px; 
    background-color:rgb(0,53,128);
}

#HeaderMainPage{
    position:relative;
    top:18px;
    left:10px;
}

/* Found in main page */
#AudioNational{
    height:5vh;
    width:10vw;
    float:right;
}

#HeaderButtons{
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

#mainPageButtons{
    float:right;
    margin-right:30%;
    text-decoration: none;
    box-shadow: 0px 15px 20px rgba(0, 36, 87, 0.301);
    background-color: #003580;
}

#FinlandMap{
    
    width:15%;
    height:35%;
    margin-left:50%;
    margin-right:50%;
}

#Sidebar{
    height:80vh;
    width:10vw;
    background-color:rgb(0,53,128);
    float:left;
}

#mainContent p{
    font-size: 1.5em;
    /*color:rgb(0,53,128);*/
    color:white;
}

#CultureTextContainer{
    color:rgb(0,53,128);
    font-size:larger;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.20);
    text-align: center;
    margin-left:2.5%;
    padding-right:2.5%;
    padding-left:1.125%;
    padding-bottom:1.125%;
    margin-top:2%;

    height:auto;
    width:auto;
    min-width: 75%;
    max-width:85%;
    height:auto;
    min-height:70%;
    max-height:100%;

}
#KarelianPasty{
    height:auto;
    width:auto;
    min-height:10%;
    max-height:20%;
    min-width: 20%;
    max-width:40%;
}
#mainContent{
    
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left:2.5%;
    padding-right:2.5%;
    padding-left:1.125%;
    padding-bottom:1.125%;
    margin-top:2%;
    width:auto;
    min-width: 50%;
    max-width:90%;
    height:auto;
    min-height:80%;
    max-height:90%;
}

#finlandNature{
    width:60%;
    height:auto;
}

#femaleSauna{
    width:60%;
    height:65%;
}

#logoFigure{
    background-color: rgb(0,53,128);
    display:inline;
}

.headerButton{
    color:rgb(0,53,128);
    text-decoration: none;
}

#mainContent figcaption{
    color:#FFF;
    font-size: larger;
}

figcaption{
    color:rgb(0,53,128);
}

#Jarmo{
    height:250%;
    width:125%;
}

#Footer{
    background-color:rgb(0,53,128);
    width:auto;
    max-width:100%;
    min-width: 50%;
    height:auto;
    max-height:20%;
    min-height:10%;
}

/* Felix - Sightseeing */
#BilderSightseeing{
    width: 400px;
    height: 250px;
    float:left;
    margin-top: 20px;
    margin-left: 20px;
    border: solid 5px blue;
    border-radius: 10%;
    
}
/* ASTON */
.tradimg{
    width: 400px;
    height: 250px;
    border-radius: 10%;
    float: left;
}
.Text-själv-text{
    width: 45%;
    height: auto;
    color: white;
    float: left;
    font-size: xx-large;
    margin-left: 10px;
    margin-top: 10px;
}
#Text-area-tradition{
    background-color: white;
    width:70%;
    height:auto; /* using height auto to allow better scale ablility */
    margin-left: 5px;
    margin-top: 50px;

    
}
.tradition-text{
    width:100%;
    height:33%;
    padding-bottom: 20px;
    float: left;
    font-size: medium;
}

#självdagen{
    color: white;
    height: 20vh;
    width: 40%;
    margin-top: 55px;
    margin-left: 450px
    
}
.Text-vappen-text{
    width: 45%;
    height: 40px;
    color: white;
    float: left;
    font-size: xx-large;
    margin-left: 10px;
    margin-top: 10px;
}
.vappen-text{
    width:100%;
    height:33%;
    padding-bottom: 20px;
    float: left;
    font-size: medium;
}

#vappdagen{
    color: white;
    height: 20vh;
    width: 45%;
    margin-top: 55px;
    margin-left: 450px
}
.Text-lillajul-text{
    width: 50%;
    height: 40px;
    color: darkblue;
    float: left;
    font-size: xx-large;
    margin-left: 10px;
    margin-top: 10px;
}
.lillajul-text{
    color: darkblue;
    width:100%;
    height:33%;
    padding-bottom: 20px;
    float: left;
    font-size: medium;
}

#juldagen{
    color: darkblue;
    height: 20vh;
    width: 40%;
    margin-top: 85px;
    margin-left: 450px;
    margin-top: 50px;
    margin-left: 450px;
    background-color:rgb(0,53,128);
}
#Footer-trad{
    background-color:rgb(0,53,128);
    width:100%;
    height:10vh;
}



#textBreaker{
    background-color:#2F507F;
    width: 100%;
    height: 5%;
    float:left;
}

.CultureParagraphs{
    margin-left:1%;
    color:#003580;
}

/* Felix - Sightseeing */
#Headertour{
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    width:100%;
    height:auto;
    max-height:11%;
    background-color:#003580;
    text-align: center;
    color:white;
    font-size:2em;
}

/* Felix */
#Text-area{
    background-color: white;
    width:50%;
    height:100%;
    margin-left: 5px;
    margin-top: 50px;
}

/* Felix - Sightseeing */
.Text-area-text{
    font-size: 2em;
    color:#003580;
}

/* Felix - Sightseeing */
#Helsinki{
    font-size: 25px;
    color:#003580;
}

/* Felix - Sightseeing */
#Kemi{
    font-size: 25px;
    color:#003580;
}

/* Felix - Sightseeing */
#Rovaniemi{
     font-size: 25px;
    color:#003580;
}

/* Felix - Sightseeing */
#tour-p{
    color:white;
    padding-top: 1.5%;
    padding-left:5.5%;
    
    font-size:1.5em;
}

/* Felix - Sightseeing */
#Footer-tour{
    background-color:rgb(0,53,128);
    width:100%;
    height:10%;
}

/* Felix - Sightseeing */
.SightseeingImg{
    width: 33%;
    height:auto;
    float:left;
    border-radius: 10%;
    border: solid 5px blue;

}

/* Felix - Sightseeing */
.sightseeing-text{
    width:100%;
    height:33%;
    padding-bottom: 20px;
}





/* Loading thing */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0,53,128);
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  @keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }
  @keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }


