*{
    margin:0;
    padding:0;
}

#Header{
    width:100%;
    height:12vh;
    background-color:rgb(0,53,128);
    
    color:white;
    font-size:2em;
}

#Header h1{
    display: inline;
    margin-left:220px;
}

nav{
    text-align: center;
}

#Sidebar{
    height:80vh;
    width:10vw;
    background-color:rgb(0,53,128);
    float:left;
}

#mainContent p{
    font-size: 1.5em;
    color:rgb(0,53,128);
}

#mainContent{
    width:90vw;
    height:80vh;
}

.imageCool{
    width:380px;
    height:380px;
}

#Logo{
    width:350px;
    height:125px;
}

#logoFigure{
    background-color: rgb(0,53,128);
    display:inline;
}

.headerButton{
    color:rgb(0,53,128);
}

figcaption{
    color:rgb(0,53,128);
}

#Jarmo{
    height:325px;
    width:475px;
}

#Footer{
    background-color:rgb(0,53,128);
    width:100%;
    height:12vh;
}

#BilderSightseeing{
    background-color: red;
    width: 100%;
    height: 16vh;
    float:left;
}

#Headertour{
    width:100%;
    height:12vh;
    background-color:#003580;
    text-align: center;
    color:white;
    font-size:2em;
}

#Text-area{
    background-color:white;
    width:100%;
    height:175vh;
}

.Text-area-text{
    font-size: 2em;
    color:#003580;
}

#Helsinki{
    font-size: 25px;
    color:#003580;
}

#Kemi{
    font-size: 25px;
    color:#003580;
}

.Rovaniemi{
    font-size: 25px;
    color:#003580;
}

#tour-p{
    color:white;
    padding-top: 1.5em;
    padding-left:5.5em;
    float:left;
    font-size:1.5em;
}

#Footer-tour{
    background-color:rgb(0,53,128);
    width:100%;
    height:10vh;
}

img{
    width: 33%;
    height: auto;
    float:left;
}

.sightseeing-text{
    width:100%;
    height:33%;
    padding-bottom: 20px;
}